<div id="question" class="center">
  <form action='/weather', method='POST'>
	<div class="ui-widget">
	<span for="place" class="will_freeze">Will it freeze in</span>
      <input class="text_input" type='text', id='place', name='place', autofocus><span class="will_freeze"> tonight?</span>
    <input type='submit'>
	</div>
   </form>
   <button id="findLocation">Use your location</button>
</div>
</script>
<div class="fb_like">
	<iframe src="http://www.facebook.com/widgets/like.php?href=http://willitfreezetonight.com"
	 scrolling="no" frameborder="0" style="border:none; width:450px; height:80px"></iframe>
</div>