<div id="question" class="center">
  <form action='/weather', method='POST'>
	<span for="place" class="will_freeze">Will it freeze in</span>
    <input class="text_input" type='text', id='place', name='place'><span class="will_freeze">?</span>
    <input type='submit'>
   </form>
</div>