<div class="center"> 
    <% if @low <= 32 %>
      <div class='answer'>Yes</div><div class='today'>today's low is</div><div class='low'><%= @low %>&#176;F</div>
    <% else %>
      <div class='answer'>No</div><div class='today'>today's low is</div><div class='low'><%= @low %>&#176;F</div>
    <% end %>  
</div>

<div class="go_home"><a href="/">Click here to ask about another city</a></div>