#container { width: 960px; margin-right: auto; margin-left: auto; }
.center { text-align: center }
#question { height: 50px; width: 960px; margin-top: 40px;}
.will_freeze { font-size: 40px; font-family: ubuntu; padding-top: 10px;}
.text_input {font-family: ubuntu; height: 30px; width: 250px; }
h1 { font-size: 60px; font-family: ubuntu;}

#flash { text-align: center; color: red;}
.answer { font-size: 120px; font-family: ubuntu; font-weight: bold;}
.today { font-size: 45px; font-family: ubuntu;}
.low { font-size: 65px; font-family: ubuntu; font-weight: bold;}
.right { text-align: right;}